1.아파트[[:space:]]거래내역[[:space:]]2015~2016[[:space:]]병합.ipynb filter=lfs diff=lfs merge=lfs -text
2.지하철[[:space:]]최단[[:space:]]거리[[:space:]]및[[:space:]]2000m[[:space:]]이내[[:space:]]개수[[:space:]]구하기.ipynb filter=lfs diff=lfs merge=lfs -text
6.[[:space:]]DF[[:space:]]최종[[:space:]]전처리,[[:space:]]시각화,[[:space:]]회귀지도,[[:space:]]랜덤포레스트.ipynb filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
df_HP8.csv filter=lfs diff=lfs merge=lfs -text
df_MT1.csv filter=lfs diff=lfs merge=lfs -text
df_merged.csv filter=lfs diff=lfs merge=lfs -text
df_new3.csv filter=lfs diff=lfs merge=lfs -text
practice2.csv filter=lfs diff=lfs merge=lfs -text
properties_2021.csv filter=lfs diff=lfs merge=lfs -text
2015_properties.csv filter=lfs diff=lfs merge=lfs -text
2018_properties.csv filter=lfs diff=lfs merge=lfs -text
2020_properties.csv filter=lfs diff=lfs merge=lfs -text
5.[[:space:]]거시데이터변수.ipynb filter=lfs diff=lfs merge=lfs -text
2021_gn_properties.xlsx filter=lfs diff=lfs merge=lfs -text
3.[[:space:]]동데이터[[:space:]]전처리[[:space:]]후[[:space:]]추가.ipynb filter=lfs diff=lfs merge=lfs -text
df_new4.csv filter=lfs diff=lfs merge=lfs -text
dongdf_merged.csv.csv filter=lfs diff=lfs merge=lfs -text
practice2.xlsx filter=lfs diff=lfs merge=lfs -text
addresstolonlat.csv filter=lfs diff=lfs merge=lfs -text
df_CT1.csv filter=lfs diff=lfs merge=lfs -text
distance_prop_merged.csv filter=lfs diff=lfs merge=lfs -text
seoul_data filter=lfs diff=lfs merge=lfs -text
4.[[:space:]]거리[[:space:]]변수구하기[[:space:]]및[[:space:]]최종df[[:space:]]merge.ipynb filter=lfs diff=lfs merge=lfs -text
df_PS3.csv filter=lfs diff=lfs merge=lfs -text
distance_prop_merged(1).csv filter=lfs diff=lfs merge=lfs -text
dongdf_merged.csv filter=lfs diff=lfs merge=lfs -text
prop_concat2015~2016 filter=lfs diff=lfs merge=lfs -text
prop_concat2015~2020.txt filter=lfs diff=lfs merge=lfs -text
2017_properties.csv filter=lfs diff=lfs merge=lfs -text
df_SC4.csv filter=lfs diff=lfs merge=lfs -text
df_SW8.csv filter=lfs diff=lfs merge=lfs -text
disdf_test1.csv filter=lfs diff=lfs merge=lfs -text
distnaceconcat.csv filter=lfs diff=lfs merge=lfs -text
practice1.csv.txt filter=lfs diff=lfs merge=lfs -text
prop_concat2015~2020(1).csv filter=lfs diff=lfs merge=lfs -text
regdf.csv filter=lfs diff=lfs merge=lfs -text
2016_properties.csv filter=lfs diff=lfs merge=lfs -text
df_new5.csv filter=lfs diff=lfs merge=lfs -text
practice[[:space:]]-[[:space:]]복사본.csv filter=lfs diff=lfs merge=lfs -text
prop_concat2015~2020(1).txt filter=lfs diff=lfs merge=lfs -text
prop_concat2015~2020(2).csv filter=lfs diff=lfs merge=lfs -text
2019_properties.csv filter=lfs diff=lfs merge=lfs -text
2021_gn_properties.csv filter=lfs diff=lfs merge=lfs -text
df_PO3.csv filter=lfs diff=lfs merge=lfs -text
df_duplicate.csv filter=lfs diff=lfs merge=lfs -text
practice.csv filter=lfs diff=lfs merge=lfs -text
prop_concat2015~2020.csv filter=lfs diff=lfs merge=lfs -text
